NEXT_PUBLIC_API_URL=http://localhost/api
NEXT_PUBLIC_CHAT_URL=http://localhost/ws-chat
NEXT_PUBLIC_STREAM_URL=http://localhost/ws-stream
NEXT_PUBLIC_PAYMENT_URL=http://localhost/payment
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_RNmZ6NjxxptExAe
