RAZORPAY_KEY_ID=RAZORPAY_KEY_ID=rzp_test_RNmZ6NjxxptExAe
RAZORPAY_KEY_SECRET=65jEVNPZXJZxQGQzdEb1N5Zse
JWT_SECRET=super_secret_jwt_key_change_in_production
BACKEND_URL=http://backend:4000
PORT=6000


